button {
    border-radius: 8px;
    background-color: rgb(255, 25, 205);
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 20px;
    border: lawngreen solid 3px;
}


.grid-item {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}