button {
    border-radius: 5px;
    background-color: rgb(247, 155, 255);
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(244, 129, 255);
}

.grid-container {
    display: flex;
    flex-direction: row;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 20px;
    border: lawngreen solid 3px;
}


.grid-item {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

.blogContainer {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(159, 159, 159, 0.24) 0px 3px 8px;
}

Link {
    text-decoration: none;
}

a {
    color: black;
}

.blogContainer:hover {
    box-shadow: rgba(81, 81, 81, 0.24) 0px 3px 8px;
}